* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lemon', serif;
    background: linear-gradient(to top, #ffffff, rgb(4, 4, 246));
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0;
}

header {
    text-align: center;
    padding: 50px;
    color: #ffffff;
    font-size: 2em;
}

#countdown {
    display: flex;
    justify-content:center;
    color: rgb(112, 53, 112);
    font-size: 1.8em;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

#countdown span {
    animation: pulse 2s infinite;
}

#text {
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: rgb(112, 53, 112);
}

#esqImagem {
    position: fixed;
    left: 0;
    bottom: 22px;
    width: 250px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

#centImagem {
    position: fixed;
    left: 20%;
    bottom: 22px;
    width: 200px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

#footerImagem {
    position: fixed;
    right: 0;
    bottom: 22px;
    width: 450px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media query de celulares (até 320px) */
@media (max-width: 320px) {
    #countdown {
        flex-direction: column;
        align-items: center;
    }

    header {
        padding: 20px;
    }
    #esqImagem, #centImagem, #footerImagem {
        width: 150px; /* Adjust as necessary */
    }
}

/* Media query de tablets (321px até 768px) */
@media (min-width: 321px) and (max-width: 768px) {
    #countdown {
        flex-direction: column;
        align-items: center;
    }

    header{
        padding: 30px;
    }
}